* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: #222;
}

.container {
  margin: 3rem auto;
  border-radius: 10px;
  .calculator {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;

    .display {
      width: 100%;
      height: 150px;
      padding: 1rem;
      background: black;
      border-radius: 10px 10px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 4rem;
        font-weight: 300;
        color: white;
        text-align: right;
        padding: 1rem;
        height: 100%;
        width: 100%;
        overflow-x: auto;
      }
    }
    .buttons {
      border-radius: 0 0 10px 10px;
      background: black;
      display: grid;
      grid-template-columns: repeat(4, 125px);
      grid-template-rows: repeat(5, 125px);
      justify-items: center;
      align-items: center;
      button {
        height: 110px;
        width: 110px;
        border-radius: 1000px;
        outline: none;
        border: none;
        background: #333;
        color: #d8d8d8;
        font-size: 3.3rem;
        font-weight: 300;
        text-align: center;
        margin: auto;
        line-height: 0px;
        cursor: pointer;
        transition: filter 0.3s ease-in-out;
        &:hover {
          filter: brightness(1.2);
        }
        &:active {
          filter: brightness(1.5);
        }
      }
      .top {
        background: #afafaf;
        color: black;
        font-size: 2.8rem;
      }
      .operator {
        background: #ff9500;
      }
      .zero {
        grid-column: span 2;
        width: 230px;
        text-align: left;
        padding-left: 2.2rem;
      }
    }
  }
}
